<p>member works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<!-- ID Column -->
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
<!-- CIN Column -->
<ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef> CIN </th>
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>
  <!-- NAME Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- createdDate Column -->
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> createdDate </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>
  <!-- cv Column -->
  <ng-container matColumnDef="cv">
    <th mat-header-cell *matHeaderCellDef> CV </th>
    <td mat-cell *matCellDef="let element"> 
        <a href="{{element.cv}}">
            <mat-icon>picture_as_pdf</mat-icon>
        </a> </td>
  </ng-container>
  <!-- type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> TYPE </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <!-- type Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> 
        <mat-icon>edit</mat-icon>
        <mat-icon>delete</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

